<!DOCTYPE html>
<html lang="ru" xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <title>Изучаем Vue 3</title>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link type="text/css" rel="stylesheet" href="static/css/index.css" />
</head>

<body>
    <header>
        <div id="header-left">
            <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/1200px-Amazon_logo.svg.png" alt="normal" />
        </div>
        <div id="header-center">
            <ul>
                <li><button @click="getCustomersPage">Customers</button></li>
                <li><button @click="getProductsPage">Products</button></li>
                <li><button @click="getDealsPage">Deals</button></li>
            </ul>
        </div>
        <div id="header-right">
            <button>Log in</button>
        </div>
    </header>

    <main>
        <div id="main-data" ref="main_data">
            <table>
                <tr>
                    <th v-for="column in columns">
                        {{column}}
                    </th>
                </tr>
                <tr v-for="data in response">
                    <td v-for="item in data">
                        {{item}}
                    </td>
                </tr>
            </table>
        </div>
        <div id="filter">
            <div v-if="filterTemplate === 'Customers'" id="filter-customers">
                <input type="number" v-model="queryParams.customer_id" placeholder="customer id"><br>
                <input type="text" v-model="queryParams.name" placeholder="name"><br>
                <input type="text" v-model="queryParams.surname" placeholder="surname"><br>
                <input type="number" v-model="queryParams.age" placeholder="age"><br>
                <input type="number" v-model="queryParams.favourite_product" placeholder="favourite product"><br>
            </div>
            <div v-if="filterTemplate === 'Products'" id="filter-products">prod</div>
            <div v-if="filterTemplate === 'Deals'" id="filter-deals">deals</div>
            <div v-else>
                pls pick entity!
            </div>
            <button @click="getServerData">getData!</button>
        </div>
    </main>
</body>
<script type="text/javascript" src="static/js/index.js"></script>

</html>