html,
body,
section,
div {
    margin: 0;
    height: 100%;
}

#header-container {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

#header-plate {
    margin: 0;
    padding: 4px;
}

#header-plate li {
    display: inline;
    margin-right: 5px;
    border: 1px solid;
    padding: 3px;
}