body {
    margin: 0;
    padding: 0;
    background-color: #242424;
}

main {
    /*Центрируем контент*/
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    /*Отступ от границы и размытие*/
    border-left: 10px solid #676767;
    padding: 2em 4em;
    border-right: 10px solid #676767;
    background-color: #676767;
    box-shadow: 0 5px 10px #676767;
    display: flex;
}

header {
    /* Включаем режим Flexbox. */
    display: flex;
    /* Распределяем элементы внутри шапки */
    justify-content: space-evenly;
    /* Выравниваем элементы вертикально по центру. */
    align-items: center;
    /*Центрируем всю шапку*/
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #394d63;
    height: 6em;
    border-bottom-left-radius: 3.6em;
    border-bottom-right-radius: 3.6em;
    box-shadow: 0 5px 10px #676767;
}

header a {
    text-decoration: none;
    color: black;
}

header button {
    background: #d1d1d1;
    border: solid 1px #b4b4b4;
    border-bottom: solid 3px #878787;
    box-shadow: inset 0 0 0 1px #e3e3e3;
    color: #555;
    text-shadow: 0 1px 0 #d6d6d6;
    font-size: 2.5em;
    width: 6em;
    border-radius: 10px;
}

#header-center ul {
    padding: 0;
    display: table;
    width: 100%;
    box-sizing: border-box;
}

#header-center li {
    display: table-cell;
    text-align: center;
    width: 50em;
}

#header-image {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#header-image img {
    padding: 1em;
    width: 70%;
    height: 70%;
}

#header-center {
    width: 70%;
}

#header-right {
    width: 15%;
    display: flex;
    justify-content: center;
}

#main-data {
    width: 86%;
}


/* всё, что касается таблицы*/

.fl-table {
    border-radius: 5px;
    font-size: 1em;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 86%;
    white-space: nowrap;
    background-color: #d0d0d0;
    overflow-x: scroll;
    font-family: Andale Mono, monospace;
}

.fl-table td,
.fl-table th {
    text-align: center;
    padding: 1em;
}

.fl-table td {
    font-size: 1em;
}

.fl-table thead th {
    color: #ffffff;
    background: #4FC3A1;
}

.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;
}

.fl-table tr:nth-child(even) {
    background: #a5a6a9;
}

.fl-table th {
    font-size: 1.3em;
}

#filter {
    width: 14%;
}

#filter .filter-input {
    border-radius: 4px;
    width: 100%;
    height: 1.5em;
    margin-bottom: 0.32em;
    font-family: Andale Mono, monospace;
    font-size: 1.1em;
    border-style: solid;
}

input,
textarea {
    transition: all 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);
    outline: none;
    padding: 3px 0px 3px 3px;
    margin: 5px 1px 3px 0px;
    border: 1px solid white;
}

input:focus,
textarea:focus {
    padding: 5px;
    box-shadow: 0 0 10px 6px white
}